/* Layout */
.main {
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
    fill: rgb(36, 35, 58);
}

.mid-circle {
    fill: #000;
    display: none;
}
.hour-marks {
    fill: none;
    stroke: rgb(219, 231, 107);
    stroke-width: 9;
    stroke-miterlimit: 10;
    stroke-linecap: round;
}

.hour-arm {
    fill: none;
    stroke: rgb(121, 252, 88);
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: rgb(112, 156, 55);
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: rgb(78, 126, 40);
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Caixa transparente que certifica-se que os ponteiros estão corretamente centralizados*/
.sizing-box {
    fill: none;
}

/* Faz com que os ponteiros caminhem ao redor do mesmo ponto central */
/* Opcional: Use transition para criar animação */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}
